.sla-all-table .ag-row{
  cursor: pointer;
}

.sla-all-table  .ag-cell-focus{
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.sla-all-table  .ag-row-focus{
  /* filter: brightness(90%); */

}

/* cell coloring */
/* cell coloring */
/* cell coloring */
.sla-colored-cell-table .ag-cell[aria-colindex="4"],
.sla-colored-cell-table .ag-cell[aria-colindex="5"],
.sla-colored-cell-table .ag-cell[aria-colindex="6"]{
  background-color: rgba(235, 232, 245, 0.5);
}


.sla-colored-cell-table .ag-row:last-of-type .ag-cell[aria-colindex="4"]{
  border-bottom-left-radius: 15px;
}

.sla-colored-cell-table .ag-row:last-of-type .ag-cell[aria-colindex="6"]{
  border-bottom-right-radius: 15px;
}

/* Headers */
.sla-colored-cell-table .ag-header-cell[aria-colindex="4"],
.sla-colored-cell-table .ag-header-cell[aria-colindex="5"],
.sla-colored-cell-table .ag-header-cell[aria-colindex="6"]{
  background-color: rgba(235, 232, 245, 0.5);
}

.sla-colored-cell-table .ag-header-cell[aria-colindex="4"]{
  border-top-left-radius: 15px;

}

.sla-colored-cell-table .ag-header-cell[aria-colindex="6"]{
  border-top-right-radius: 15px;

}


.sla-colored-cell-table .ag-header-active[aria-colindex="4"],
.sla-colored-cell-table .ag-header-active[aria-colindex="5"],
.sla-colored-cell-table .ag-header-active[aria-colindex="6"]{
  background-color: rgba(235, 232, 245, 0.5) !important;

}
