th .sortImg {
    /* margin-top: 2rem; */
    display: inline-block;
    transform: translate(-4px, 2px);
    opacity: 0.3;
}

th .sortImg.hide {
    display: none;
}

th .sortImg.sorted {
    opacity: 1;
    transform: translate(-4px, 2px) rotate(180deg);
}


th .sortImg.desc {
    transform: translate(-4px, 2px) rotate(0deg);
}



.sortPopup {
    position: absolute;
    min-width: 100px;
    border-radius: 1rem;
    padding: 1rem 0;
    z-index: 99999;
    background-color: white;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.097);
    font-size: 1.4rem;
    left: 0;
    top: 90%;
    display: none ;
}


th.open-popup .sortPopup {
    /* display: block; */

}

.sortPopup.hide {
    display: none;
}

.th-popup-col {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    color: rgba(0, 0, 0, 0.707);
    cursor: pointer;
}


.th-popup-col:hover {
    background-color: #f5f5f5;
}

.th-popup-col.active {
    background-color: rgb(223, 223, 223);
    cursor: default;
}


.th-popup-col:first-child {
    border-bottom: 1px solid rgba(109, 109, 109, 0.253);
}

.sortPopup img {
    width: 10px;
    opacity: 0.8;

}

.sortPopup .th-popup-col:first-child img {
    width: 10px;
    opacity: 0.8;
    transform: rotate(-90deg)
}

.sortPopup .th-popup-col:last-child img {
    width: 10px;
    opacity: 0.8;
    transform: rotate(90deg)
}

.sortPopup .th-popup-col img.img-in-time {
    transform: rotate(0deg)
}

